<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilosPresupForm.css">         
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" >

    <title>Contacto Yf Cerámica</title>
</head>
<body>
    <header>
        <nav>   
            <a href="../index.html"> <img id="logo" src="./../assets/images/francamente-logo-red.png" alt="logo-yf" width="473" height="557"></a>
              <h1 class="yfH1"> Yf</h1>            
            <!-- este es un menú básico que debe ir fijo y moverse según hacemos scroll. En pantalla de ordenador 
            debe ir horizontal y en tablet y móvil hacerse responsive y vertical -->
            <ul class="menuNav">
                <li><a href="../index.html" target="_blank">INICIO</a></li>
                <li><a href="./galeria.html">PRODUCTOS</a></li>
                <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                <li><a href="./contacto.html" class="on">CONTACTO</a></li>
                <li><a href="mailto:yolafran2002@gmail.com"><i class="fa-solid fa-envelope sobreMail"></i></a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContacto">
            <h2>Contacto</h2>
            <section id="dondeEstamos">
                <h3>Dónde encontrarnos</h3>
                <p>Yf se encuentra en Mallorca aunque gracias a las redes y a Internet en general podemos llegar a todos vosotros</p>
                <p>Si en algún momento te encuentras en nuestra maravillosa isla y quieres ver nuestras piezas en directo o recoger tú mism@ el pedido, esta es nuestra dirección:</p>
                <div id="dondeEstamosDiv">
                    <div id="container">
                        <div id="mapa">
                        </div>
                        <div id="panel"></div> 
                    </div>
                    <div id="direccion">
                        <div>
                            <h3>Nuestros datos</h3> 
                            <p>Carrer Alacant 49</p>
                            <p> 07180 Santa Ponsa</p>
                            <p><a href="tel:+43637872602">637872602</a></p>
                            <p><a href="mailto:yolafran2002@gmail.com">yolafran2002@gmail.com</a></p>
                            <p>Haz click en el mapa y calcula la mejor ruta para llegar</p>
                        </div>
                        
                        <div>
                        <p>Nuestro horario de contacto es por las tardes de 16h a 20h de Lunes a Viernes</p>
                        <p>No somos intermediarios, producimos nuestras propias piezas con lo que puede ser que nos pilles modelando. No tenemos tienda física pero si nos avisas con tiempo o bien podemos enseñarte novedades en el taller o bien podemos decirte si en algun comercio local amigo tienen nuestros productos</p>
                        <p>Si quieres contactar con nosotros te recomendamos que nos escribas al mail para poder atenderte lo mejor posible</p>
                        </div>
                       
                       
                    </div>
                </div>
            </section>

                 
    </main>
   
    <footer>
        <section id="redes">
            <h3>Síguenos</h3>
            <div>
            <a href="http://www.instagram.com/francxmente?igsh=MXRhZGE2eHAyYWVoMA=="><img src="../assets/images/logo-instagram.webp" alt="Instagram"></a>
            <a href="https://www.facebook.com/yolanda.franco.52?locale=es_ES"><img src="../assets/images/facebook-logo.webp" alt="Facebook"></a>
            <a href="http://www.etsy.com"><img src="../assets/images/logo-etsy.png" alt="Etsy"></a>
            </div>
        </section>
        <section class="condicionesL">
            <h3>CondicionesL</h3>
            <div>
                <div class="legales">
                <ul>
                    <li><a href="./politicaPrivacidad.html">Politica de privacidad</a></li>
                    <li><a href="./politicacookies.html"> Política de cookies</a></li>
                    <li><a href="./avisoLegal.html">Aviso legal</a></li>
                    <li><a href="./condicionesVenta.html">Condiciones de compra</a></li>
                </ul>

                </div>
            </div>
        <!-- ul mapa, privacidad, cookies -->
        </section>
        <!-- Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Política de cookies -->
    </footer>

       <script src="../js/contacto.js"></script>
    <script
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM0470aF7ZfotlZQLHcLM6Ujnl7bveZ7w&callback=initMap"
        async
    
    >
</script>
</body>
</html>