<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilosPresupForm.css">

    <title>Política de cookies</title>
</head>
<body>
    <header>
        <nav>   
            <a href="../index.html"> <img id="logo" src="../assets/images/francamente-logo-red.png" alt="logo-yf" width="473" height="557"></a>

            <h1 class="yfH1"> Yf</h1>            
            <!-- este es un menú básico que debe ir fijo y moverse según hacemos scroll. En pantalla de ordenador 
            debe ir horizontal y en tablet y móvil hacerse responsive y vertical -->
            <ul class="menuNav">
                <li><a href="../index.html" target="_blank">INICIO</a></li>
                <li><a href="./productos.html">PRODUCTOS</a></li>
                <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                <li><a href=".contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="cookies"> POLÍTICA DE COOKIES</h2>
       <h3 class="cookies"> www.Yfceramica.com</h3>
       <div id="contenidoCookies" class="cookies">
        <p>
           El acceso a este Sitio Web puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada Usuario —en los distintos dispositivos que pueda utilizar para navegar— para que el servidor recuerde cierta información que posteriormente y únicamente el servidor que la implementó leerá. Las cookies facilitan la navegación, la hacen más amigable, y no dañan el dispositivo de navegación. 
        </p>
        <p>
            Las cookies son procedimientos automáticos de recogida de información relativa a las preferencias determinadas por el Usuario durante su visita al Sitio Web con el fin de reconocerlo como Usuario, y personalizar su experiencia y el uso del Sitio Web, y pueden también, por ejemplo, ayudar a identificar y resolver errores.
        </p>
        <p>
            La información recabada a través de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las páginas visionadas, el tiempo que ha estado en el Sitio Web y los sitios visitados justo antes y después del mismo. Sin embargo, ninguna cookie permite que esta misma pueda contactarse con el número de teléfono del Usuario o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer información del disco duro del Usuario o robar información personal. La única manera de que la información privada del Usuario forme parte del archivo Cookie es que el usuario dé personalmente esa información al servidor.
        </p>
        <p>
            Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas les será de aplicación la Política de Privacidad anteriormente descrita. En este sentido, para la utilización de las mismas será necesario el consentimiento del Usuario. Este consentimiento será comunicado, en base a una elección auténtica, ofrecido mediante una decisión afirmativa y positiva, antes del tratamiento inicial, removible y documentado
        </p>
        <h4>Cookies propias</h4>
        <p>
            Son aquellas cookies que son enviadas al ordenador o dispositivo del Usuario y gestionadas exclusivamente por Yf cerámica para el mejor funcionamiento del Sitio Web. La información que se recaba se emplea para mejorar la calidad del Sitio Web y su Contenido y su experiencia como Usuario. Estas cookies permiten reconocer al Usuario como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus preferencias.
        </p>
        <h4>Deshabilitar, rechazar y eliminar cookies</h4>
        <p>
            El Usuario puede deshabilitar, rechazar y eliminar las cookies —total o parcialmente— instaladas en su dispositivo mediante la configuración de su navegador (entre los que se encuentran, por ejemplo, Chrome, Firefox, Safari, Explorer). En este sentido, los procedimientos para rechazar y eliminar las cookies pueden diferir de un navegador de Internet a otro. En consecuencia, el Usuario debe acudir a las instrucciones facilitadas por el propio navegador de Internet que esté utilizando. En el supuesto de que rechace el uso de cookies —total o parcialmente— podrá seguir usando el Sitio Web, si bien podrá tener limitada la utilización de algunas de las prestaciones del mismo.
        </p>
       </div>
       
    </main>
    <footer>
        <section id="redes">
            <h3>Síguenos</h3>
            <div>
            <a href="http://www.instagram.com/francxmente?igsh=MXRhZGE2eHAyYWVoMA=="><img src="../assets/images/logo-instagram.webp" alt="Instagram"></a>
            <a href="https://www.facebook.com/yolanda.franco.52?locale=es_ES"><img src="../assets/images/facebook-logo.webp" alt="Facebook"></a>
            <a href="http://www.etsy.com"><img src="../assets/images/logo-etsy.png" alt="Etsy"></a>
            </div>
        </section>
        <section class="condicionesL">
            <h3>CondicionesL</h3>
            <div>
                <div class="legales">
                <ul>
                    <li><a href="./politicaPrivacidad.html">Politica de privacidad</a></li>
                    <li><a href="./politicacookies.html"> Política de cookies</a></li>
                    <li><a href="./avisoLegal.html">Aviso legal</a></li>
                    <li><a href="./condicionesVenta.html">Condiciones de compra</a></li>
                </ul>

                </div>
            </div>
        <!-- ul mapa, privacidad, cookies -->
        </section>
        <!-- Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Política de cookies -->
    </footer>
    <script src="../js/legales.js"></script>
</body>
</html>
